.scene{
    filter:brightness(75%)
}
.scene path:first-child{
    fill:url(#gradient-1)
}
.scene path:nth-child(2){
    fill:url(#gradient-2)
}
.scene path:nth-child(3){
    fill:url(#gradient-3)
}
.scene path:nth-child(4){
    fill:url(#gradient-4)
}
.scene path:nth-child(5){
    fill:url(#gradient-5)
}
.scene path:nth-child(6){
    fill:url(#gradient-6)
}
.scene path:nth-child(7){
    fill:url(#gradient-7)
}
